    <section class="section section--approach" id="approach">
      <div class="section__content">
        <div class="section__content__wrapper">
          <div class="approach__info">
            <div class="module-circle animated-element">
              <div class="module-circle__circle">
                <div class="module-circle__front">
                  <picture>
                    <source srcset="{{ '/static/img/rocket-dark.png' | addHash }}" media="(prefers-color-scheme: dark)">
                    <img src="{{ '/static/img/rocket.png' | addHash }}" loading="lazy" decoding="async" width="119" height="120" alt="" class="module-circle__image rocket" />
                  </picture>
                </div>
                <div class="module-circle__back">
                  <img src="{{ '/static/img/rocket-color.png' | addHash }}" loading="lazy" decoding="async" width="119" height="120" alt="" class="module-circle__image rocket" />
                </div>
              </div>
            </div>

            <h2 class="approach__section-title is-accent-headline animated-element">
              {{ approach | i18n('title', lang) }}
            </h2>
            <p class="has-accent-font approach__section-headline animated-element">{{ approach | i18n('headline', lang) }}</p>
          </div>

          <ol class="approach__list" role="list">
            {%- for item in approach | i18n('items', lang) %}
            <li class="approach__item approach__item--{{ loop.index}} animated-element">
              <h3 class="approach__title has-color-dark">
                <span class="approach__number" aria-hidden="true">{{ loop.index }}/</span>
                {{ item.title }}
              </h3>
              <div class="approach__content">
                {{ item.copy | newline2br | safe }}
              </div>
            </li>
          {% endfor %}</ol>
        </div>
      </div>
    </section>
