---
layout: layouts/base.njk
---

{% include 'components/cover.njk' %}
{% include 'components/intro.njk' %}
{% include 'components/approach.njk' %}
{% include 'components/wuolah.njk' %}
{% include 'components/barça.njk' %}
{% include 'components/tramontana.njk' %}
{% include 'components/closing.njk' %}
