.section--approach {
  margin-bottom: var(--size-section-separation);

  & .section__content {
    display: flex;

    @media (--viewport-lg) {
      padding: 0 2.5rem;
    }
  }

  & .section__content__wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    @media (--viewport-md) {
      flex-wrap: nowrap;
    }
  }

  & .approach__info {
    flex-shrink: 0;
    margin-bottom: 2.5rem;
    max-width: 22.375rem;
    text-align: center;
    width: 100%;

    @media (--viewport-md) {
      flex-grow: 0;
      margin-bottom: 0;
      margin-right: 5rem;
    }
  }

  & .approach__section-title {
    font-size: var(--size-heading-small);
    margin-bottom: 0.625rem;
    transition-delay: 0.1s, 0.1s;

    @media (--viewport-md) {
      font-size: 2rem;
    }
  }

  & .approach__section-headline {
    font-size: var(--size-medium);
    line-height: 2;
    transition-delay: 0.2s, 0.2s;

    @media (--viewport-md) {
      font-size: var(--size-large);
    }
  }

  & .approach__list {
    margin: 0;
    max-width: 29.875rem;
    padding: 0 0 0 2.25rem;
  }

  & .approach__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 1.25rem;

      @media (--viewport-lg) {
        margin-bottom: 2.5rem;
      }
    }

    &.approach__item--1 {
      transition-delay: 0.3s, 0.3s;
    }

    &.approach__item--2 {
      transition-delay: 0.5s, 0.5s;
    }

    &.approach__item--3 {
      transition-delay: 0.7s, 0.7s;
    }
  }

  & .approach__number {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    left: -2.25rem;
    position: absolute;
  }

  & .approach__title {
    font-size: var(--size-medium);
    font-weight: 600;
  }

  & .approach__title,
  & .approach__content {
    line-height: 1.777;
  }

  & .approach__bottom__wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 1.75rem;

    @media (--viewport-lg) {
      align-items: flex-end;
      margin-top: 2rem;
      margin-right: -5rem;
    }
  }

  & .approach__bottom {
    align-items: center;
    display: flex;
    flex-direction: column;

    @media (--viewport-lg) {
      margin-top: -3.75rem;
    }
  }

  & .module-circle {
    margin: 0 auto 1.125rem;
  }

  & .module-circle,
  & .module-circle__circle {
    height: 2.5rem;
    width: 2.5rem;

    @media (--viewport-md) {
      height: 3rem;
      width: 3rem;
    }
  }
}
