---
permalink: .htaccess
---
RewriteCond %{HTTP:Accept-Language} ^en [NC]
RewriteRule ^$ /en/ [L,R=301]

RedirectMatch 301 ^/info/ /blog/info/
RedirectMatch 301 ^/2005/12/21/los-sistemas-pioneros-livejournal-pitas-blogger/ /blog/2005/12/21/los-sistemas-pioneros-livejournal-pitas-blogger/
RedirectMatch 301 ^/2006/01/05/14531999-imprenta-cms-blogs/ /blog/2006/01/05/14531999-imprenta-cms-blogs/
RedirectMatch 301 ^/2004/11/03/testamento-vital/ /blog/2004/11/03/testamento-vital/
RedirectMatch 301 ^/2012/04/10/diseno/ /blog/2012/04/10/diseno/
RedirectMatch 301 ^/2011/04/26/rediseno-twitter/ /blog/2011/04/26/rediseno-twitter/
RedirectMatch 301 ^/2010/08/14/internet-cultura-hacker-empresa/ /blog/2010/08/14/internet-cultura-hacker-empresa/
RedirectMatch 301 ^/2010/04/15/web-social-adios-yugo-dominios/ /blog/2010/04/15/web-social-adios-yugo-dominios/
RedirectMatch 301 ^/2010/01/12/red-libertad/ /blog/2010/01/12/red-libertad/
RedirectMatch 301 ^/2006/08/29/venta-ideasapiens-aprendemas/ /blog/2006/08/29/venta-ideasapiens-aprendemas/
RedirectMatch 301 ^/2004/07/13/blogsmexico-concepto-lifestyle/ /blog/2004/07/13/blogsmexico-concepto-lifestyle/
RedirectMatch 301 ^/2005/08/27/ideasapiens-aprendemas/ /blog/2005/08/27/ideasapiens-aprendemas/
RedirectMatch 301 ^/2005/08/21/blog-for-hope-yahoo/ /blog/2005/08/21/blog-for-hope-yahoo/
RedirectMatch 301 ^/2007/06/23/libro-blogs-portugues/ /blog/2007/06/23/libro-blogs-portugues/
RedirectMatch 301 ^/2007/04/18/web-corporativa-blogs-media/ /blog/2007/04/18/web-corporativa-blogs-media/
RedirectMatch 301 ^/2004/12/05/luis-antunez-gomez-1925-2004/ /blog/2004/12/05/luis-antunez-gomez-1925-2004/
RedirectMatch 301 ^/2004/11/19/esta-casa/ /blog/2004/11/19/esta-casa/
RedirectMatch 301 ^/2004/10/11/construyendo-una-blogosfera-motivacion-prioridades/ /blog/2004/10/11/construyendo-una-blogosfera-motivacion-prioridades/
RedirectMatch 301 ^/2004/12/25/typeworks-fin/ /blog/2004/12/25/typeworks-fin/
RedirectMatch 301 ^/2004/11/08/emprendedores-referentes-sinergias/ /blog/2004/11/08/emprendedores-referentes-sinergias/
RedirectMatch 301 ^/2004/11/16/foro-oromana-mundo-panuelo/ /blog/2004/11/16/foro-oromana-mundo-panuelo/
RedirectMatch 301 ^/2004/11/25/nuevo-servicio-canales-tematicos-bitacoras-com/ /blog/2004/11/25/nuevo-servicio-canales-tematicos-bitacoras-com/
RedirectMatch 301 ^/2004/11/24/global-ideas-bank-energias-renovables/ /blog/2004/11/24/global-ideas-bank-energias-renovables/
RedirectMatch 301 ^/2004/11/25/error500-googlenews/ /blog/2004/11/25/error500-googlenews/
RedirectMatch 301 ^/2004/11/26/trackbackspingbacks-medios-online/ /blog/2004/11/26/trackbackspingbacks-medios-online/
RedirectMatch 301 ^/2004/12/06/moviles-abatibles-extensibles/ /blog/2004/12/06/moviles-abatibles-extensibles/
RedirectMatch 301 ^/2004/12/09/politica-sistema-operativo-globalizacion/ /blog/2004/12/09/politica-sistema-operativo-globalizacion/
RedirectMatch 301 ^/2004/12/07/arte-navegar-titanics-zodiacs-galeras-piraguas/ /blog/2004/12/07/arte-navegar-titanics-zodiacs-galeras-piraguas/
RedirectMatch 301 ^/2005/02/01/los-coqueteos-msn/ /blog/2005/02/01/los-coqueteos-msn/
RedirectMatch 301 ^/2005/02/01/20minutos-css/ /blog/2005/02/01/20minutos-css/
RedirectMatch 301 ^/2005/02/05/plantilla-microsoft-prefiere-ipod/ /blog/2005/02/05/plantilla-microsoft-prefiere-ipod/
RedirectMatch 301 ^/2005/01/07/gizmodo-entrevista-bill-gates/ /blog/2005/01/07/gizmodo-entrevista-bill-gates/
RedirectMatch 301 ^/2005/01/05/ventas-navidenas-online-caso-amazon/ /blog/2005/01/05/ventas-navidenas-online-caso-amazon/
RedirectMatch 301 ^/2005/01/04/autor-origen-del-boton-naranja-xml/ /blog/2005/01/04/autor-origen-del-boton-naranja-xml/
RedirectMatch 301 ^/2004/12/31/bitacora-chilena-destapa-fraude-concurso-miss-digital/ /blog/2004/12/31/bitacora-chilena-destapa-fraude-concurso-miss-digital/
RedirectMatch 301 ^/2004/12/30/vueling-bajo-coste-calidad-maxima/ /blog/2004/12/30/vueling-bajo-coste-calidad-maxima/
RedirectMatch 301 ^/2005/01/12/estreno-buenafuente/ /blog/2005/01/12/estreno-buenafuente/
RedirectMatch 301 ^/2005/01/13/ryanair-espiritu-aterriza-como-puedas/ /blog/2005/01/13/ryanair-espiritu-aterriza-como-puedas/
RedirectMatch 301 ^/2005/08/19/adaptive-path-estadisticas-web/ /blog/2005/08/19/adaptive-path-estadisticas-web/
RedirectMatch 301 ^/2005/08/17/interviu-sin-tablas-importancia-estandarizar-css/ /blog/2005/08/17/interviu-sin-tablas-importancia-estandarizar-css/
RedirectMatch 301 ^/2005/08/08/ideasapiens-firma-contrato-publicidad-con-aprendemas/ /blog/2005/08/08/ideasapiens-firma-contrato-publicidad-con-aprendemas/
RedirectMatch 301 ^/2005/07/07/atentado-londres/ /blog/2005/07/07/atentado-londres/
RedirectMatch 301 ^/2005/06/21/blogs-creacion-mantenimiento/ /blog/2005/06/21/blogs-creacion-mantenimiento/
RedirectMatch 301 ^/2005/06/18/yahoo-busca-ajaxeros/ /blog/2005/06/18/yahoo-busca-ajaxeros/
RedirectMatch 301 ^/2005/05/31/mark-felt-confiesa-garganta-profunda/ /blog/2005/05/31/mark-felt-confiesa-garganta-profunda/
RedirectMatch 301 ^/2005/05/08/escritorio-windows-css/ /blog/2005/05/08/escritorio-windows-css/
RedirectMatch 301 ^/2005/04/09/acuerdo-yahoo-wikipedia/ /blog/2005/04/09/acuerdo-yahoo-wikipedia/
RedirectMatch 301 ^/2005/03/24/blogs-prime-time-cnn/ /blog/2005/03/24/blogs-prime-time-cnn/
RedirectMatch 301 ^/2004/03/23/que-falta-blogosfera/ /blog/2004/03/23/que-falta-blogosfera/
RedirectMatch 301 ^/2004/04/11/ciudadano-kubrick-perfeccionismo-fonts-favoritas/ /blog/2004/04/11/ciudadano-kubrick-perfeccionismo-fonts-favoritas/
RedirectMatch 301 ^/2004/04/25/arrasan-los-weblogs-los-medios/ /blog/2004/04/25/arrasan-los-weblogs-los-medios/
RedirectMatch 301 ^/2004/04/28/are-living-blog-time/ /blog/2004/04/28/are-living-blog-time/
RedirectMatch 301 ^/2004/05/02/weblogs-usuarios-portada-com/ /blog/2004/05/02/weblogs-usuarios-portada-com/
RedirectMatch 301 ^/2004/06/08/origenes-palabra-weblog/ /blog/2004/06/08/origenes-palabra-weblog/
RedirectMatch 301 ^/2004/06/24/weblog-bbc-omar-razek-continua/ /blog/2004/06/24/weblog-bbc-omar-razek-continua/
RedirectMatch 301 ^/2004/06/25/emails-comentaristas-ocultos-blogs/ /blog/2004/06/25/emails-comentaristas-ocultos-blogs/
RedirectMatch 301 ^/2004/06/25/weblog-destapa-coronacion-del-reverendo-moon-senado/ /blog/2004/06/25/weblog-destapa-coronacion-del-reverendo-moon-senado/
RedirectMatch 301 ^/2004/06/28/blogit-com-escribe-gana-dinero/ /blog/2004/06/28/blogit-com-escribe-gana-dinero/
RedirectMatch 301 ^/2004/07/07/blog-michael-moore/ /blog/2004/07/07/blog-michael-moore/
RedirectMatch 301 ^/2004/12/18/valor-anadido-imaginacion/ /blog/2004/12/18/valor-anadido-imaginacion/
RedirectMatch 301 ^/2004/12/10/dan-gillmor-pegasus-news/ /blog/2004/12/10/dan-gillmor-pegasus-news/
RedirectMatch 301 ^/2004/12/19/elmundo-los-weblogs-boca-boca-una-prediccion/ /blog/2004/12/19/elmundo-los-weblogs-boca-boca-una-prediccion/
RedirectMatch 301 ^/2005/03/04/tras-tsunami-nuevo-blog-mundo/ /blog/2005/03/04/tras-tsunami-nuevo-blog-mundo/
RedirectMatch 301 ^/2005/03/07/blog-politico-mundo-victoria-prego/ /blog/2005/03/07/blog-politico-mundo-victoria-prego/
RedirectMatch 301 ^/2005/03/13/popurri-google-news/ /blog/2005/03/13/popurri-google-news/
RedirectMatch 301 ^/2005/03/15/murio-george-atkinson-inventor-del-videoclub/ /blog/2005/03/15/murio-george-atkinson-inventor-del-videoclub/
RedirectMatch 301 ^/2005/09/22/servicio-plus-bitacoras-com-web-apm-blogs-abc/ /blog/2005/09/22/servicio-plus-bitacoras-com-web-apm-blogs-abc/
RedirectMatch 301 ^/2005/09/29/repaso-los-blogs-mundo/ /blog/2005/09/29/repaso-los-blogs-mundo/
RedirectMatch 301 ^/2005/09/30/digital-imaginando-buscador-publicidad/ /blog/2005/09/30/digital-imaginando-buscador-publicidad/
RedirectMatch 301 ^/2009/12/28/internet-predicciones-2010/ /blog/2009/12/28/internet-predicciones-2010/
RedirectMatch 301 ^/2008/11/19/emprender-internet/ /blog/2008/11/19/emprender-internet/
RedirectMatch 301 ^/2006/01/14/blogs-crossing-jordan/ /blog/2006/01/14/blogs-crossing-jordan/
RedirectMatch 301 ^/2009/10/01/eventos-mejorar-comunicacion-line-social-media/ /blog/2009/10/01/eventos-mejorar-comunicacion-line-social-media/
RedirectMatch 301 ^/2009/11/30/cuarta-revolucion-industrial-digitalizacion/ /blog/2009/11/30/cuarta-revolucion-industrial-digitalizacion/
RedirectMatch 301 ^/2006/05/28/curso-blogs-como-enlazar-bien-reglas-tacitas/ /blog/2006/05/28/curso-blogs-como-enlazar-bien-reglas-tacitas/
RedirectMatch 301 ^/2008/07/22/redes-sociales-comienza-era-timeline/ /blog/2008/07/22/redes-sociales-comienza-era-timeline/
RedirectMatch 301 ^/2006/02/23/curso-blogs-weblogs-estandares-web-una-pareja-explosiva/ /blog/2006/02/23/curso-blogs-weblogs-estandares-web-una-pareja-explosiva/
RedirectMatch 301 ^/2006/01/26/curso-blogs-accesos-premisas-para-personalizarlos/ /blog/2006/01/26/curso-blogs-accesos-premisas-para-personalizarlos/
RedirectMatch 301 ^/2006/01/12/arquitectura-weblog/ /blog/2006/01/12/arquitectura-weblog/
RedirectMatch 301 ^/2006/05/23/curso-blogs-iii-organizar-accesos-contenidos/ /blog/2006/05/23/curso-blogs-iii-organizar-accesos-contenidos/
RedirectMatch 301 ^/2008/08/02/youare-los-pequenos-detalles/ /blog/2008/08/02/youare-los-pequenos-detalles/
RedirectMatch 301 ^/2004/10/01/por-que-gente-usa-windows/ /blog/2004/10/01/por-que-gente-usa-windows/
RedirectMatch 301 ^/2005/01/10/weblogssl-primera-lanzarse-ruedo/ /blog/2005/01/10/weblogssl-primera-lanzarse-ruedo/
RedirectMatch 301 ^/2005/09/08/biz-stone-deja-google-por-odeo/ /blog/2005/09/08/biz-stone-deja-google-por-odeo/
RedirectMatch 301 ^/2005/08/18/etsy-manitas-sin-intermediarios/ /blog/2005/08/18/etsy-manitas-sin-intermediarios/
RedirectMatch 301 ^/2009/12/02/manifiesto-defensa-los-derechos-fundamentales-internet/ /blog/2009/12/02/manifiesto-defensa-los-derechos-fundamentales-internet/
RedirectMatch 301 ^/2009/01/27/%c2%a1abrimos-youare/ /blog/2009/01/27/%c2%a1abrimos-youare/
RedirectMatch 301 ^/2003/11/08/con-objetivo-promover-debate/ /blog/2003/11/08/con-objetivo-promover-debate/
RedirectMatch 301 ^/contacto/ /blog/contacto/
RedirectMatch 301 ^/2008/07/14/invitaciones-youare/ /blog/2008/07/14/invitaciones-youare/
RedirectMatch 301 ^/2008/01/23/micurl-servicio-para-acortar-urls/ /blog/2008/01/23/micurl-servicio-para-acortar-urls/
RedirectMatch 301 ^/2008/01/01/primeros-ecos-youare-blogosfera-hispana/ /blog/2008/01/01/primeros-ecos-youare-blogosfera-hispana/
RedirectMatch 301 ^/2007/12/28/presentando-youare-youare-com/ /blog/2007/12/28/presentando-youare-youare-com/
RedirectMatch 301 ^/2007/07/16/buscamos-gente-viajera-para-nueva-plataforma-web/ /blog/2007/07/16/buscamos-gente-viajera-para-nueva-plataforma-web/
RedirectMatch 301 ^/2005/09/14/google-buscador-blogs/ /blog/2005/09/14/google-buscador-blogs/
RedirectMatch 301 ^/info/articulos-destacados/ /blog/info/articulos-destacados/
RedirectMatch 301 ^/2003/11/13/finaliza-empieza/ /blog/2003/11/13/finaliza-empieza/
RedirectMatch 301 ^/2003/11/11/microsoft-windows-cumple-anos/ /blog/2003/11/11/microsoft-windows-cumple-anos/
RedirectMatch 301 ^/2003/11/11/medios-habituales-weblogs-letizia-ortiz/ /blog/2003/11/11/medios-habituales-weblogs-letizia-ortiz/
RedirectMatch 301 ^/2003/11/09/blogs-tematicos/ /blog/2003/11/09/blogs-tematicos/
RedirectMatch 301 ^/2004/06/02/blogs-universia/ /blog/2004/06/02/blogs-universia/
RedirectMatch 301 ^/2004/08/04/viabloga-francia-moblogs-cifras/ /blog/2004/08/04/viabloga-francia-moblogs-cifras/
RedirectMatch 301 ^/2004/10/04/bloggers-descubriendo-mundo/ /blog/2004/10/04/bloggers-descubriendo-mundo/
RedirectMatch 301 ^/2005/06/15/blog-hora-wiki/ /blog/2005/06/15/blog-hora-wiki/
RedirectMatch 301 ^/2004/05/14/movable-type-guia-migracion-wordpress/ /blog/2004/05/14/movable-type-guia-migracion-wordpress/
RedirectMatch 301 ^/2004/10/17/erase-una-vez-senor-con-gafas/ /blog/2004/10/17/erase-una-vez-senor-con-gafas/
RedirectMatch 301 ^/2004/10/19/apuntes-para-estudio-mercado-publicidad-tarifas-blogosfera/ /blog/2004/10/19/apuntes-para-estudio-mercado-publicidad-tarifas-blogosfera/
RedirectMatch 301 ^/2004/07/26/branding-ambient-media-aplicado-promocion-del-fenomeno-blog/ /blog/2004/07/26/branding-ambient-media-aplicado-promocion-del-fenomeno-blog/
RedirectMatch 301 ^/2004/10/05/evan-williams-deja-google/ /blog/2004/10/05/evan-williams-deja-google/
RedirectMatch 301 ^/2004/05/14/show-must/ /blog/2004/05/14/show-must/
RedirectMatch 301 ^/2004/10/09/verde-rey/ /blog/2004/10/09/verde-rey/
RedirectMatch 301 ^/2004/07/28/buscando-don-norman/ /blog/2004/07/28/buscando-don-norman/
RedirectMatch 301 ^/2004/05/08/morir-exito-una-constante-revertible/ /blog/2004/05/08/morir-exito-una-constante-revertible/
RedirectMatch 301 ^/2009/09/15/pasion-en-la-palabra-videos-para-motivarse/ /blog/2009/09/15/pasion-en-la-palabra-videos-para-motivarse/
RedirectMatch 301 ^/2004/01/10/weblogs-mas-protagonismo-en-ideasapiens/ /blog/2004/01/10/weblogs-mas-protagonismo-en-ideasapiens/
RedirectMatch 301 ^/2004/11/25/dia-de-accion-de-gracias-typeworks/ /blog/2004/11/25/dia-de-accion-de-gracias-typeworks/
RedirectMatch 301 ^/2009/11/16/conclusiones-ebe09-funcionamiento-y-retos/ /blog/2009/11/16/conclusiones-ebe09-funcionamiento-y-retos/
RedirectMatch 301 ^/2005/04/23/nytimes-preparando-rediseno/ /blog/2005/04/23/nytimes-preparando-rediseno/
RedirectMatch 301 ^/2004/12/28/publicidad-en-las-estaciones-de-metro/ /blog/2004/12/28/publicidad-en-las-estaciones-de-metro/
RedirectMatch 301 ^/2009/08/31/jl-returns-youare-theme/ /blog/2009/08/31/jl-returns-youare-theme/
RedirectMatch 301 ^/tags/ /blog/tags/
RedirectMatch 301 ^/archivos/ /blog/archivos/
RedirectMatch 301 ^/2009/01/27/youare-search/ /blog/2009/01/27/youare-search/
RedirectMatch 301 ^/2003/11/24/entrevista-a-jose-luis-orihuela-revoluciones-y-crisis/ /blog/2003/11/24/entrevista-a-jose-luis-orihuela-revoluciones-y-crisis/
RedirectMatch 301 ^/2003/11/13/entrevistas-en-blogs-is-haz-tus-preguntas/ /blog/2003/11/13/entrevistas-en-blogs-is-haz-tus-preguntas/
RedirectMatch 301 ^/2003/11/13/primer-aniversario-de-la-catastofre-del-prestige/ /blog/2003/11/13/primer-aniversario-de-la-catastofre-del-prestige/
RedirectMatch 301 ^/2003/11/12/que-se-mueve-en-telecinco/ /blog/2003/11/12/que-se-mueve-en-telecinco/
RedirectMatch 301 ^/2005/07/22/yahoo-lanza-8-blogs-de-salud/ /blog/2005/07/22/yahoo-lanza-8-blogs-de-salud/
RedirectMatch 301 ^/2004/12/29/como-informarse-sobre-el-maremoto-asiatico-en-internet/ /blog/2004/12/29/como-informarse-sobre-el-maremoto-asiatico-en-internet/
RedirectMatch 301 ^/2004/08/29/hoy-hace-un-ano-bitacoras-com/ /blog/2004/08/29/hoy-hace-un-ano-bitacoras-com/
RedirectMatch 301 ^/2004/08/31/estandares-y-scotch-brite/ /blog/2004/08/31/estandares-y-scotch-brite/
RedirectMatch 301 ^/2004/09/07/google-6-cumpleanos/ /blog/2004/09/07/google-6-cumpleanos/
RedirectMatch 301 ^/2004/09/08/the-bobs-premios-internacionales-weblogs-2004/ /blog/2004/09/08/the-bobs-premios-internacionales-weblogs-2004/
RedirectMatch 301 ^/2004/09/08/linkara-el-friendster-en-espanol/ /blog/2004/09/08/linkara-el-friendster-en-espanol/
RedirectMatch 301 ^/2004/09/12/11-m-seis-meses-despues/ /blog/2004/09/12/11-m-seis-meses-despues/
RedirectMatch 301 ^/2004/10/04/ideasapiens-fines-de-semana/ /blog/2004/10/04/ideasapiens-fines-de-semana/
RedirectMatch 301 ^/2004/10/08/venture-blogging/ /blog/2004/10/08/venture-blogging/
RedirectMatch 301 ^/2003/11/29/entrevista-a-carlos-munoz-filosofia-en-la-red/ /blog/2003/11/29/entrevista-a-carlos-munoz-filosofia-en-la-red/
RedirectMatch 301 ^/2004/10/04/estandares-revolution/ /blog/2004/10/04/estandares-revolution/
RedirectMatch 301 ^/2004/07/30/pistas-sobre-la-madurez-de-una-blogosfera-contenidos/ /blog/2004/07/30/pistas-sobre-la-madurez-de-una-blogosfera-contenidos/
RedirectMatch 301 ^/2004/02/27/sobre-orkut-despues-de-30-minutos-dentro/ /blog/2004/02/27/sobre-orkut-despues-de-30-minutos-dentro/
RedirectMatch 301 ^/2004/07/20/blogia-segunda-iniciativa-blog-hispana-en-anunciarse-con-adwords/ /blog/2004/07/20/blogia-segunda-iniciativa-blog-hispana-en-anunciarse-con-adwords/
RedirectMatch 301 ^/2005/01/26/google-contrata-a-ben-goodger/ /blog/2005/01/26/google-contrata-a-ben-goodger/
RedirectMatch 301 ^/2005/01/08/catapings-nou-directori-en-catala/ /blog/2005/01/08/catapings-nou-directori-en-catala/
RedirectMatch 301 ^/2005/02/01/ivan-noble-diario-de-un-cancer/ /blog/2005/02/01/ivan-noble-diario-de-un-cancer/
RedirectMatch 301 ^/2004/11/18/40-americanos-forman-parte-de-comunidades-on-line/ /blog/2004/11/18/40-americanos-forman-parte-de-comunidades-on-line/
RedirectMatch 301 ^/2004/10/06/buscador-de-veneblogs-siguiendo-la-estela-que-dejo-weblog-about/ /blog/2004/10/06/buscador-de-veneblogs-siguiendo-la-estela-que-dejo-weblog-about/
RedirectMatch 301 ^/2004/10/09/chicle-ahora-es-cocainne/ /blog/2004/10/09/chicle-ahora-es-cocainne/
RedirectMatch 301 ^/2004/10/11/creador-de-wikipedia-estrena-blog/ /blog/2004/10/11/creador-de-wikipedia-estrena-blog/
RedirectMatch 301 ^/2004/10/21/andreu-buenafuente-quedense-con-su-nombre/ /blog/2004/10/21/andreu-buenafuente-quedense-con-su-nombre/
RedirectMatch 301 ^/2004/09/07/dave-johnson-full-time-con-roller/ /blog/2004/09/07/dave-johnson-full-time-con-roller/
RedirectMatch 301 ^/2004/09/07/una-de-cmss-typeworks-squarespace/ /blog/2004/09/07/una-de-cmss-typeworks-squarespace/
RedirectMatch 301 ^/2004/09/23/les-deficencies-actuals-dels-cmss-educatius/ /blog/2004/09/23/les-deficencies-actuals-dels-cmss-educatius/
RedirectMatch 301 ^/2004/11/21/la-fiebre-de-las-pulseras-livestrong/ /blog/2004/11/21/la-fiebre-de-las-pulseras-livestrong/
RedirectMatch 301 ^/2004/12/28/blogs-is-2005/ /blog/2004/12/28/blogs-is-2005/
RedirectMatch 301 ^/2005/07/30/alltheweb-para-videos-y-audio/ /blog/2005/07/30/alltheweb-para-videos-y-audio/
RedirectMatch 301 ^/2004/09/03/tradedoubler-fnac-y-xml/ /blog/2004/09/03/tradedoubler-fnac-y-xml/
RedirectMatch 301 ^/2005/01/15/maquinaria-rr-pp-pro-buenafuente/ /blog/2005/01/15/maquinaria-rr-pp-pro-buenafuente/
RedirectMatch 301 ^/2006/02/27/revista-tiempo-consejo-de-lectores-y-blogosfera/ /blog/2006/02/27/revista-tiempo-consejo-de-lectores-y-blogosfera/
RedirectMatch 301 ^/2004/10/22/pensando-plugin-para-firefox/ /blog/2004/10/22/pensando-plugin-para-firefox/
RedirectMatch 301 ^/2004/06/04/weblog-de-una-becaria-que-la-armo-bien-gorda/ /blog/2004/06/04/weblog-de-una-becaria-que-la-armo-bien-gorda/
RedirectMatch 301 ^/2004/07/12/vnunet-espacio-para-la-blogosfera/ /blog/2004/07/12/vnunet-espacio-para-la-blogosfera/
RedirectMatch 301 ^/2004/07/14/las-posibilidades-de-la-blogosfera-para-las-relaciones-publicas/ /blog/2004/07/14/las-posibilidades-de-la-blogosfera-para-las-relaciones-publicas/
RedirectMatch 301 ^/2004/07/15/dia-3-global-pr-blog-week-1-0/ /blog/2004/07/15/dia-3-global-pr-blog-week-1-0/
RedirectMatch 301 ^/2004/07/17/iespana-cerrojazo-blogs-desaparecidos/ /blog/2004/07/17/iespana-cerrojazo-blogs-desaparecidos/
RedirectMatch 301 ^/2004/07/25/capitulo-final-de-mujer-gorda/ /blog/2004/07/25/capitulo-final-de-mujer-gorda/
RedirectMatch 301 ^/2004/08/04/empleo-112-buscador-de-bolsas-de-empleo/ /blog/2004/08/04/empleo-112-buscador-de-bolsas-de-empleo/
RedirectMatch 301 ^/2004/08/18/blogjob-bolsa-de-empleo-en-formato-blog/ /blog/2004/08/18/blogjob-bolsa-de-empleo-en-formato-blog/
RedirectMatch 301 ^/2004/08/23/administracion-local-y-webs-de-ciudad/ /blog/2004/08/23/administracion-local-y-webs-de-ciudad/
RedirectMatch 301 ^/2004/08/20/marketing-viral-blogger-il-cannochiale/ /blog/2004/08/20/marketing-viral-blogger-il-cannochiale/
RedirectMatch 301 ^/2004/08/23/injef-com-bitacoras-para-abogados-empresarios/ /blog/2004/08/23/injef-com-bitacoras-para-abogados-empresarios/
RedirectMatch 301 ^/2004/05/03/perspectivas-directrices-de-los-blogs-en-el-mundo/ /blog/2004/05/03/perspectivas-directrices-de-los-blogs-en-el-mundo/
RedirectMatch 301 ^/2004/04/23/dia-del-libro-sant-jordi-2004/ /blog/2004/04/23/dia-del-libro-sant-jordi-2004/
RedirectMatch 301 ^/2004/03/02/100-000-visitas-mes-de-febrero-factor-blogs/ /blog/2004/03/02/100-000-visitas-mes-de-febrero-factor-blogs/
RedirectMatch 301 ^/2004/02/01/40-dias-y-40-noches/ /blog/2004/02/01/40-dias-y-40-noches/
RedirectMatch 301 ^/2003/12/22/inauguracion-blog-mass-media-nuevas-tecnologias/ /blog/2003/12/22/inauguracion-blog-mass-media-nuevas-tecnologias/
RedirectMatch 301 ^/2003/12/02/probabilidad-coincidencia-loteria-primitiva/ /blog/2003/12/02/probabilidad-coincidencia-loteria-primitiva/
RedirectMatch 301 ^/2003/12/08/manana-inauguracion-oficial-blogs-is/ /blog/2003/12/08/manana-inauguracion-oficial-blogs-is/
RedirectMatch 301 ^/2004/08/31/blogs-corporativosreputacion-digital/ /blog/2004/08/31/blogs-corporativosreputacion-digital/
RedirectMatch 301 ^/2003/12/03/nueva-herramienta-blog-de-microsoft-the-spoke/ /blog/2003/12/03/nueva-herramienta-blog-de-microsoft-the-spoke/
RedirectMatch 301 ^/2003/12/19/mas-de-200-servidores-con-redhat-crackeados/ /blog/2003/12/19/mas-de-200-servidores-con-redhat-crackeados/
RedirectMatch 301 ^/2003/12/19/primer-diseno-espanol-en-la-lista-css-zen-garden/ /blog/2003/12/19/primer-diseno-espanol-en-la-lista-css-zen-garden/
RedirectMatch 301 ^/2004/01/23/craiglist-abrira-acceso-en-madrid/ /blog/2004/01/23/craiglist-abrira-acceso-en-madrid/
RedirectMatch 301 ^/2004/12/06/pegasus-news-we-media-glocalizacion/ /blog/2004/12/06/pegasus-news-we-media-glocalizacion/
RedirectMatch 301 ^/2004/12/27/sensaciones-tras-el-maremoto-asiatico/ /blog/2004/12/27/sensaciones-tras-el-maremoto-asiatico/
RedirectMatch 301 ^/2004/12/30/tdt-se-adelanta-al-2010/ /blog/2004/12/30/tdt-se-adelanta-al-2010/
RedirectMatch 301 ^/2004/12/31/elmundo-y-los-tests-de-alcoholemia/ /blog/2004/12/31/elmundo-y-los-tests-de-alcoholemia/
RedirectMatch 301 ^/2003/12/05/blogia-incluye-publicidad-en-sus-blogs/ /blog/2003/12/05/blogia-incluye-publicidad-en-sus-blogs/
RedirectMatch 301 ^/2003/12/10/inauguracion-blog-filosofia-ciencias-sociales/ /blog/2003/12/10/inauguracion-blog-filosofia-ciencias-sociales/
RedirectMatch 301 ^/2003/12/11/antes-de-irnos-a-dormir/ /blog/2003/12/11/antes-de-irnos-a-dormir/
RedirectMatch 301 ^/2003/12/14/blog-politica-ideasapiens/ /blog/2003/12/14/blog-politica-ideasapiens/
RedirectMatch 301 ^/2003/11/22/los-muertos-de-la-frontera-con-ee-uu/ /blog/2003/11/22/los-muertos-de-la-frontera-con-ee-uu/
RedirectMatch 301 ^/2003/11/20/etica-para-el-siglo-xxi/ /blog/2003/11/20/etica-para-el-siglo-xxi/
RedirectMatch 301 ^/2003/11/20/efemerides-del-20-n/ /blog/2003/11/20/efemerides-del-20-n/
RedirectMatch 301 ^/2003/11/16/elecciones-en-catalunya-como-utilizar-la-red-para-bien/ /blog/2003/11/16/elecciones-en-catalunya-como-utilizar-la-red-para-bien/
RedirectMatch 301 ^/2003/11/18/weblogs-promocion-para-los-medios-o-medios-por-si-mismos/ /blog/2003/11/18/weblogs-promocion-para-los-medios-o-medios-por-si-mismos/
RedirectMatch 301 ^/2004/10/15/blogosfera-451/ /blog/2004/10/15/blogosfera-451/
RedirectMatch 301 ^/2009/03/16/importa-tus-archivos-de-twitter-a-youare/ /blog/2009/03/16/importa-tus-archivos-de-twitter-a-youare/
RedirectMatch 301 ^/2009/03/16/importa-los-posts-de-tu-blog-a-youare/ /blog/2009/03/16/importa-los-posts-de-tu-blog-a-youare/
